<!DOCTYPE html>
<html lang="pt-br">

    <%- include('head'); %>
<body>
    <%- include('nav'); %>
    <img class="rounded-circle" width="100px" style="padding:10px" src="https://static.vecteezy.com/ti/vetor-gratis/p3/5020240-ilustracao-desenhada-a-mao-fofa-deliciosa-torta-plana-gratis-vetor.jpg" id="logo">
    
    <div class="container" id="login">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <input type="text" placeholder="Nome" name="" id="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <input type="password" placeholder="Senha" name="" id="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button>Entrar</button>
            </div>
        </div>
    </div>
</body>
</html>